{% extends 'base.html' %}

{% load i18n %}
{% load currency %}
{% load ratings_tags %}

{% block content %}
	<h1 class='b-account__title'>Ваш профиль</h1>
	<hr class='b-account__title_line'>
	<div class="b-account-info">
		<div class="b-account-info-photo">
			<img src="{{ user_account.get_profile.get_photo }}" alt="{{ user_account.username }}" class='b-account-info__img'>
		</div>

		<div class="b-account-info-info">
			<h2>
				{% if user_account.first_name or user_account.last_name %}
					{{ user_account.first_name }} {{ user_account.last_name }}
				{% else %}
					{{ user_account.username }}
				{% endif %}
			</h2>

			<div class='b-carma'><b>Карма:</b> 
				{% ratings_plus user_account user_account %}
			</div>

			{% if user == user_account %}
				<p class='b-manna'>
					<b>Манна:</b>
					<span class="b-manna__value">{{ user_account.get_profile.manna }}</span>
				</p>
			{% endif %}

			{# <p><b>karma:</b> {{ user_account.get_profile.karma }}</p> #}
			<p class='b-user-rating-profile'>
				<b>Рейтинг:</b>
				<span class="b-rating__value">{{ user_account.get_profile.rating }}</span>
			</p>

			<p class='b-num-in-rate'>
				<b>№ в <a href='{% url 'accounts_rating' %}'>рейтинге</a>:</b>
				<span class='b-num-in-rate__value'>{{ user_position }} из {{ users_count }}</span>
			</p>




			<p class='b-accounts-email'><b>{% trans "E-Mail" %}:</b> {{ user_account.email }}</p>
			<p class='b-accounts-gender'><b>{% trans "Gender" %}:</b> {{ user_account.get_profile.gender }}</p>

			{% if user_account.get_profile.birthday %}
				<p><b>{% trans "Birthday" %}:</b> {{ user_account.get_profile.birthday }}</p>
			{% endif %}

			{% comment %}
			<p><b>{% trans "Created At" %}:</b> {{ user_account.get_profile.created_at }}</p>
			<p><b>{% trans "Updated At" %}:</b> {{ user_account.get_profile.updated_at }}</p>
			{% endcomment %}
		</div>
	</div><!-- b-account-info -->

	<div class="b-account-comments">
		<h3>{% trans "Comments" %}</h3>
		{% for comment in comments %}
			<div class='b-account-item'>
				<a href="{{ comment.content_object.get_absolute_url }}">
					{{ comment.content_object }}
				</a>
				<div class='b-user-comment-rating'>
					{% ratings_plus comment comment.user %}
				</div>
				<div class='b-user-comment-comment'>
					{{ comment.comment }}
				</div>
			</div>
		{% endfor %}
	</div>

<!--
{% trans "Not you?" %}
{% trans "Exit" %}
-->

{%endblock%}


{% block aside %}
	<style>
		section, article {width: 980px;}
	</style>
{% endblock aside %}