{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Login" %}</h1>

<form method="post" action="">

	<div class="b-form-fields">
		{% csrf_token %}
		{{ form.management_form }}
		{% for field in form %}
			<ul class='b-field-{{ field.name }} b-field-container'>
				<li class='{% if field.field.required %}m-field-required{% endif %} b-field-label'>
					{{ field.label }}:
					{% if field.help_text %}
						<span class='b-help_text'>{{ field.help_text|safe }}</span>
					{% endif %}
					{{ field.errors }}
				</li>

				<li class='b-field-field {% if field.errors %}m-field__error{% endif %}'>
					{{ field }}
				</li>
			</ul>
		{% endfor %}
	</div>
	<input type="submit" value='{% trans "Submit" %}' class='b-form__submit'>

</form>


<ul>
    {# <li><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></li> #}
    {# <li><a href="{% url 'accounts_signup' %}">{% trans "Sing In" %}</a></li> #}
</ul>
{% endblock %}