{% extends "base.html" %}
{% load i18n %}


{% block content %}
<h1>{% trans "Change password" %}</h1>
<form method="post" action="">
    <div class="b-form-fields">
        {% csrf_token %}
        {{ form.management_form }}
        {% for field in form %}
            <ul class='b-field-{{ field.name }} b-field-container'>
                <li class='{% if field.field.required %}m-field-required{% endif %} b-field-label'>
                    <label>{{ field.label }}:</label>
                    {{ field.errors }}
                </li>
                {% if field.help_text %}
                    <label class="errorlist">{{ field.help_text }}</label>
                {% endif %}
                <li class='b-field-field {% if field.errors %}m-field__error{% endif %}'>
                    {{ field }}
                </li>
            </ul>
        {% endfor %}
    </div>
    <input type="submit" value='{% trans "Change password" %}' class='b-form__submit'>
</form>
{% endblock %}