{% extends 'base.html' %}

{% load i18n %}

{% block content %}
	<h1>{% trans "User ratings" %}</h1>

	<table class='b-reting-user-list'>
		<tr>
			<td></td>
			<td></td>
			<td>карма</td>
			<td>рейтинг</td>
		</tr>
		{% for rated_user in users %}
			<tr class="b-reting-user-item">
				<td class='b-reting-user-item__img'>
					<img src="{{ rated_user.get_profile.get_photo }}" alt="{{ rated_user.username }}">
				</td>
				<td class='b-reting-user-item__name'>
					<a href="/accounts/{{ rated_user.username }}/">{{ rated_user }}</a>
				</td>
				<td class='b-reting-user-item__karma'>{{ rated_user.get_profile.karma }}</td>
				<td class='b-reting-user-item__rating'>{{ rated_user.get_profile.rating }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}