{%extends 'base.html'%}
{% load i18n %}

{%block content%}
<h1>{% trans "Register" %}</h1>
	<form method="post" action="" id='register_form'>
		{% csrf_token %}
		{%if userForm.errors %}<h3><strong>{% trans "Error!" %}</strong></h3>{% endif %}
		{{ userForm.management_form }}
		{% for field in userForm %}
			<ul class='{% if field.field.required %}required{% else %}not_required{% endif %}'>
				<li>{{ field.label_tag }}</li>
				{% if field.errors %}
					<li>
						<ul>
							{% for error in field.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</li>
				{% endif %}
				<li>{{ field }}</li>
			</ul>
		{% endfor %}

		{%if userProfileForm.errors %}<h3><strong>{% trans "Error!" %}</strong></h3>{% endif %}
		{{ userProfileForm.management_form }}
		{% for field in userProfileForm %}
			<ul class='{% if field.field.required %}required{% else %}not_required{% endif %}'>
				<li>{{ field.label_tag }}</li>
				{% if field.errors %}
					<li>
						<ul>
							{% for error in field.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</li>
				{% endif %}
				<li>{{ field }}</li>
			</ul>
		{% endfor %}

		<input type="submit" value='{% trans "Register" %}'>
	</form>

	<a href="javascript:retirn 0;" id="show_not_required">{% trans "Show not required fields" %}</a>
	<script type="text/javascript">
	$('.not_required').hide();
	$('#show_not_required').on('click', function(){
		if($('.not_required').is(':hidden')){
			$('.not_required').slideDown();
			$('#show_not_required').text('{% trans "Hide not required fields" %}');
		} else {
			$('.not_required').slideUp();
			$('#show_not_required').text('{% trans "Show not required fields" %}');
		}
	});
	</script>
{%endblock%}