/*
 **************************
 * =widget
 **************************
*/
.b-user-widget {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	overflow: hidden;
	width: 200px;
	display: block;
	clear: both;
}

.b-user-widget__name {
	font: bold 12px 'PT Sans', sans-serif;
	clear: right;
	margin: 0;
	padding: 0;
}

.b-user-widget__photo {
	width: 60px;
	float: left;
	margin-right: 20px;
}

.b-user-widget__notyou,
.b-user-widget__logout {
	font-size: 10px;
	display: inline-block;
	margin-top: 7px;
}

.b-user-widget__logout {
	background: url(../img/exit.png) no-repeat right;
	padding-right: 15px;
}


/*
 **************************
 * =loginza bottom
 **************************
*/
.b-loginza-button {
	z-index: 300;
	width: 165px;
	height: 47px;
	display: block;
	background: url(../img/loginza.png) 0 -98px no-repeat;
	text-decoration: none;
	color: transparent;
}

.b-loginza-button:hover {
	color: transparent;
	background-position: 0 0;
}

.b-loginza-button:active {
	color: transparent;
	background-position: 0 -49px;
}


/*
 **************************
 * =login page
 **************************
*/
.b-login__help-text {
	width: 450px;
	font-size: 14px;
	color: #333;
}

.b-login__or {
	text-align: center;
	line-height: 170px;
	width: 180px;
	height: 170px;
	display: block;
	margin: 0;
	font-size: 14px;
	float: left;
}

.b-login-local,
.b-login-loginza {
	width: 380px;
	height: 170px;
	display: block;
	margin: 0;
	float: left;
}

.b-login-local {
	padding-top: 5px;
}

.b-login-local label {
	display: inline-block;
	width: 80px;
	font-size: 18px;
	font-weight: bold;
}

.b-login-local .b-login-local_input {
	display: inline-block;
	margin: 20px 0;
	width: 300px;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 18px;
	color: #666;
	padding: 5px;
	border: 1px solid #ddd;
}

.b-login-local_submit {
	width: 145px;
	height: 42px;
	border: 0;
	color: transparent;
	float: right;
	outline: 0;
	background: url(../img/log_in.png) no-repeat;
}

.b-login-local_submit:hover {
	opacity: 0.9;
}

.b-login-local_submit:active {
	margin-top: 1px;
}

.b-login-login_loginza__iframe {
	width: 380px;
	height: 170px;
	overflow: hidden;
	border: 0;
}

.m-error {
	color: #d2232a;
}


/*
 **************************
 * =REGISTER PAGE
 **************************
*/
.b-show-not-required {
	display: inline-block;
	margin: 10px 0;
	border-bottom: 1px dotted #00aeef;
	color: #00aeef;
	padding: 0;
	cursor: pointer;
	clear: both;
}

.b-register_submit {
	clear: both;
	display: block;
}

.b-register-field {
	display: block;
	clear: both;
	list-style: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

.b-register-field-label {
	display: inline-block;
	width: 220px;
	font-size: 18px;
	font-weight: bold;
}

.b-register-field-field  {
	display: inline-block;
}

.b-register-field-field input {
	display: inline-block;
	margin: 10px 0;
	width: 270px;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 18px;
	color: #666;
	padding: 5px;
	border: 1px solid #ddd;
}

.b-register-field-field ul {
	padding: 0;
	margin: 0;
}

.b-register-field-field li,
.b-register-field-field li input {
	display: inline-block;
	width: auto;
	margin-right: 8px;
}

.b-register_submit {
	width: 145px;
	height: 42px;
	border: 0;
	color: transparent;
	margin-left: 345px;
	/*float: right;*/
	outline: 0;
	background: url(../img/log_in.png) no-repeat;
}

.b-register_submit:hover {
	opacity: 0.9;
}

.b-register_submit:active {
	margin-top: 1px;
}

/*
 **************************
 * =ACCOUNT
 **************************
*/

.b-account-info,
.b-account-comments {
	display: block;
	float: left;
	box-sizing: border-box;
}

.b-account-info {
	width: 500px;
}

.b-account-comments {
	width: 480px;
}

.b-account-info-photo {
	width: 130px;
	float: left;
}

.b-account-info__img {
	width: 130px;
	height: 130px;
	display: inline-block;
}

.b-account-info-info {
	padding-left: 20px;
	box-sizing: border-box;
	float: left;
	width: 350px;
	display: inline-block;
}